<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<meta charset="utf8">
</head>
<body>
	<div id="box" style="text-align: center;margin-top: 100px;">
		账号：<input type="text" v-model="account" name="name" ><br><br>
		密码：<input type="text" v-model="password" name="name" ><br><br>
		<button v-on:click="login">登录</button>

	</div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.10.1/jquery.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
	<script>
//config
	function setCookie(cname, cvalue, exdays) {
	            var d = new Date();
	            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
	            var expires = "expires=" + d.toUTCString();
	            console.info(cname + "=" + cvalue + "; " + expires);
	            document.cookie = cname + "=" + cvalue + "; " + expires;
	            console.info(document.cookie);
   }
	new Vue({

		el:'#box',
		data:{
			account:'',
			password:''
		},
		methods:{

			login:function(){

				if(this.account == '' || this.password == ''){
					alert('账号或密码不能为空');return;
				}
				var data = {
					account:this.account,
					password:this.password
				};			
				$.post('http://192.168.1.6:9501/login?bbb=rr',data,function(result){
					
					var obj = JSON.parse(result);
					console.log(obj);
					if(obj.code == 0){
						setCookie('username',obj.content.name,1);

						window.location.href="./chat.html?fefe=eg";
					}else{
						alert(obj.msg);
					}
					return;
				}).error(function(error){
					console.log(error);
				});


			}
			
		}

	});

	// $(function(){

	// 	// axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
	// 	// axios.defaults.headers.common['Authorization'] = 'AUTH_TOKEN';
	// 	axios.get('http://colourhome-czytest.colourlife.com/web/permi/role/index')
	// 	  .then(function (response) {
	// 	    console.log(response);
	// 	  })
	// 	  .catch(function (error) {
	// 	    console.log(error);
	// 	  });

	// });


	// function test(){
	// 	var data = {
	// 		group_id:1,
	// 		sort_id:1,
	// 		name:'kkkkkk',
	// 		url:'www.baidu.com',
	// 		img:'http://cc.colourlife.com/common/v30/icon/zhuanxiang.png',
	// 		id:9,
	// 		// state:1
	// 	};
	// 	$.post('http://colourhome-czytest.colourlife.com/backend/updateMyOptions',data,function(result){
	// 		console.log(result);
	// 	}).error(function(error){
	// 		console.log(error);
	// 	});

	// }

	</script>
</html>